.app {
    margin: 5rem;

    &__title {
        font-size: 5rem;
        text-align: center;
    }

    &__nav {
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        margin: 2rem auto 4rem;
        width: 50rem;
        text-align: center;
    }
}
