.app {
    margin: 5rem 10rem;

    &__title {
        // font-family: Snell Roundhand, cursive;
        // font-family: Bradley Hand, cursive;
        // font-family: Apple Chancery, cursive;
        font-size: 5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__nav {
        padding: 3rem;
        border-radius: 2rem;
    }
}
